@font-face {
    font-family: "Raleway-black.ttf", "Raleway-Light.ttf", "source/Raleway/Raleway-Bold.ttf" Arial, Helvetica, sans-serif;
    src: url(source/Raleway/Raleway-Black.ttf);
    src: url(source/Raleway/Raleway-Light.ttf);
    src: url(source/Raleway/Raleway-Bold.ttf);
}

img {
    object-fit:cover;
}

*{
    font-family: "Raleway";
    box-sizing: border-box;
    
}
.pageBody{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: auto;
    margin-top:-0.5rem;
    max-width: 1300px;
    gap: 1rem;

}
a{
    font-style: none;
    text-decoration: none;
    color:black
}

/* Titres */
h1{
    font-weight: bold;
    font-weight:750;
    font-size: 1.5rem;
    
}

h2{
    font-weight: normal;
    font-size: 1.2em;
}

h3{
    
    font-weight:750;
    font-size: 1.5rem;
}
.titre{
    margin:1rem;
   
}

h4{
    font-weight: bold;
    margin:0em 0em 0em 0em;
    
}
/* enlève le modèle de base de balises <a> */


/* HEADER */
/* HEADER */
.divHeader{
    display:flex;
    justify-content: space-between;
   
}

.logo{
    padding-top: 2em;
}

/* Liste navigation */
/* Liste navigation */
nav{    
    display: flex;
    align-items: center;
    font-weight: bold;    
    gap:1rem;
    
    
}

.navInscription a{
    color:#0065FC;
    text-decoration: none;
}


.listeNav{
    list-style: none;
    display: flex;
    
    /* Overide le css de base */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    height: 100%;
}

.listeNav li{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top:transparent solid 0.1rem; 
   
}

.navAncre a{
    color:black;
    text-decoration: none;
}
.navAncre a:hover{
    color:#0065FC;
}

.listeNav li:hover{
    
    border-top:#0065FC solid 0.1rem;
   
}





input[type=submit] {
    
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 90%;
    
  }
input[type=search] {
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 100%;
    
  }

/* Table du champ de recherche */
/* Table du champ de recherche */
#champRecherche {
    height: 2.5rem;
    display:flex;
    align-items: center;
    
    
}

/* Objet à l'intérieur du champ recherche */
/* Objet à l'intérieur du champ recherche */
.itemRecherche:nth-child(1){
    display: flex;
    height: 100%;
    width: 5%;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;    
    cursor:pointer;
    border-radius: 1rem 0rem 0rem 1rem;
}

.itemRecherche:nth-child(1):hover{
    transform: scale(1.1);
}
.itemRecherche:nth-child(2){
    display:flex;    
    padding-left: 0.5em;
    height: 100%;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
}

.itemRecherche:nth-child(4){
    display:none;
}

#bouttonRecherche{
    display: flex;
    height: 100%;    
    background-color:#0065FC;
    justify-content: center;
    align-items: center;
    padding:11px;
    cursor:pointer;
    color:white;
    background-color: #0065FC;
    border-radius: 0rem 1rem 1rem 0rem;
   
}
/* FILTRES */
/* FILTRES */

#filtres{
    display:flex;   
    align-items:center;    
    /* border: red solid 2px;    */    
    font-weight: bold;
    width: 100%;
}

.toutFiltres{
    display:flex;
}

.filtre{
    margin-right: 1em;
    margin-left: 1em;
    display:flex;
    border-bottom:#DEEBFF solid 0.3em;
    border-top: #DEEBFF solid 0.3em;
    border-right: #DEEBFF solid 0.3em;
    border-radius:10em;
    align-items: center;
    height: 2.9em;
    transition:background-color 0.3s linear; 
}

/* changer couleur menu au passage souris  */
.filtre:hover{
    background-color:#F2F2F2;
}

.filtrePic{
    display: flex;    
    height: 2.8em;    
    width: 2.8em;
    border-radius: 10em;
    background-color:#DEEBFF;
    color:#0065FC;
    justify-content: center;
    align-items: center;     
    
}



.filtreTexte{
    margin-right: 0.5em;
    margin-left: 0.5em;
}





/* Section bulle INFO */
/* Section bulle INFO */
/* Section bulle INFO */
#infoBulle{
    display:flex;
    align-items: center;     
     
    
}
.infoPic{
    display:flex;
    justify-content: center;    
    align-items: center;
    color:#0065FC;
    border:#DEEBFF solid 0.2em;
    border-radius: 10em;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
}

/* MAIN */
/* MAIN */
.principal{
    display:flex;
    gap:2rem;
}

/* section Hebergement */
/* section Hebergement */
.hebergements{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.hebergements-block{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;    
    border-radius: 1em;
    padding: 1em 1em 1em 1em;   
    width: 100%;
}


/* Hébergements à Marseille */
/* Hébergements à Marseille */
/* Hébergements à Marseille */
#infosHebergements{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1em;
    
}


.hebergements-block .texteHebergements{    
   display:flex;
   flex-direction: column;   
    
    background-color: white;
    border-radius: 1rem;
    border: white solid 0.2rem;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);   
    width: 30%;
    height: 12rem;
    
}

/* Effet d'aggrandissement au survol souris */
/* Effet d'aggrandissement au survol souris */
.texteHebergements:hover{
    transform: scale(1.1);
    transition: ease 0.2s;
}
.texteHebergementsHaut:hover{
    transform: scale(1.1);
    transition: ease 0.2s;
}

.infoTexteHebergements{
    display:flex;
    flex-direction: column;    
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 0.9rem;
    gap: 0.3rem;
}


.imgHebergements{    
    height: 7rem;
    border-radius: 1rem 1rem 0em 0em;
    width: 100%;
    
}


.imgNote{
    display:flex;
    font-size: 0.9rem;
}

/* Couleurs des étoiles de notation */
.fa-star{
    color:#0065FC;
}

.fa-star-empty{
    color:#F2F2F2;
}

.afficherPlus{
    margin: 2rem 0rem 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
}

/* Aside */
/* Aside */
/* Aside */
.titrePop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hebergementsPopulaire-block{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;    
    border-radius: 1em;
    padding: 1em 1em 1em 1em;   
    width: 40%; 

}

.contenuHebergementsPopulaire{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin: 1rem 0.2rem 0rem 0.5rem;
}
aside .texteHebergements{
    display:flex;
    flex-direction: row;          
    background-color: white;
    border-radius: 1em;
    border: white solid 0.2em;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}



aside .texteHebergements img{
    border-radius: 1em 0em 0em 1em;
    height: 8rem;
    width: 45%;
    
}


aside .infoTexteHebergements{
    display:flex;    
    flex-direction: column;
    justify-content: space-between;
    margin: 0.8rem;
}

/* aside .infoTexteHebergements span{
    
} */

.imgNotePop{    
    display: flex;    
    color:#0065FC;
    
}

.fa-chart-line{
    font-size: 1.5em;
}
    
/* Block activités */
/* Block activités */

.activités{
    
   margin-top: 2em;
   padding-top: 2em;
}

.activités-block{
    display: flex;
    gap:3rem;
        
}


.texteHebergementsPetit{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.texteHebergementsPetit .infoTexteHebergements{
    margin: 1rem;
}

.activités .texteHebergements{
           
    background-color: white;
    border-radius: 1em;    
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-weight: 700;
    
}

.activités .texteHebergements img{    
    height: 10rem;
}


.texteHebergementsHaut{
    background-color: white;
    border-radius: 1em;   
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    width: 25%;
}

.texteHebergementsHaut .infoTexteHebergements{
    margin: 1rem;
    font-weight: 700;
}





.texteHebergementsHaut img {
    height:26rem;
    
}

/* Pied de page */
/* Pied de page */

footer {
    display: flex;
    background-color:#F2F2F2 ;
    justify-content: flex-start;
    align-items: flex-start;
    margin:auto;
    width: 75%;
    margin-top:4rem;
   gap:13rem;
}

.blockFooter{
    display:flex;
    flex-direction: column;    
    align-items: flex-start;
    margin: 2rem 2rem 3rem 1rem;
    
}

.blockFooter ul{

    list-style: none;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    
}

.blockFooter h4{
    margin-bottom: 0.5rem;
}