@font-face {
    font-family: "Raleway-black.ttf", "Raleway-Light.ttf", "source/Raleway/Raleway-Bold.ttf" Arial, Helvetica, sans-serif;
    src: url(source/Raleway/Raleway-Black.ttf);
    src: url(source/Raleway/Raleway-Light.ttf);
    src: url(source/Raleway/Raleway-Bold.ttf);
}



*{
    font-family: "Raleway";
    
}
body{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-left: 2em;
    
}

header{
    display:flex;
    flex-direction: column;
    width: 100%;
    
}

/* Titres */
h1{
    font-weight: bold;
}

h2{
    font-weight: normal;
    font-size: 1.2em;
}

h3{
    margin:1em 1em 1em 1em;

}

h4{
    font-weight: bold;
    margin:0;
    
    
}
/* enlève le modèle de base de balises <a> */
a, a:link,a:visited,a:hover{    
    color:black;
    text-decoration: none;
    
}


/* Liste navigation */
nav{
 
    height: 5em;
    width: 20em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    position:absolute;
    top:0.1em;
    right:1em;   
    
}
nav a{    
    color:black;
    
    
}
nav a:link {
    text-decoration: none;
  }
  
nav  a:visited {
    text-decoration: none;
  }
  
nav  a:hover {
    text-decoration: none;    
    color:#0065FC;
  }
  
 nav a:active {
    text-decoration: none;
  }
nav p {
    color:#0065FC;
    
}

.navItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5em;
    width: 90%;
    
}

.navItem:hover{
    border-top:#0065FC solid 0.1em;
    
}



input[type=submit] {
    
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 90%;
    
  }
input[type=search] {
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 100%;
    
  }

#bouttonRecherche{
    color:white;
    background-color: #0065FC;
    
}

/* Table du champ de recherche */
/* Table du champ de recherche */
#champRecherche {
    height: 2.5em;
    width: 21em;
    border: #F2F2F2 solid 0.1em;
    border-radius: 0.8em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
}

/* Objet à l'intérieur du champ recherche */
/* Objet à l'intérieur du champ recherche */
.itemRecherche:nth-child(1){
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;    
   
}
.itemRecherche:nth-child(2){
    display:flex;    
    padding-left: 0.5em;
    
}
.itemRecherche:nth-child(3){
    display: flex;
    height: 100%;    
    background-color:#0065FC;
    justify-content: center;
    align-items: center;    
    padding: 0.5em 0.5em 0.5em 0.5em;
}


/* FILTRES */
/* FILTRES */

#filtres{
    display:flex;   
    align-items:center;    
    /* border: red solid 2px;    */
    height: 3em;
    font-weight: bold;
    width: 100%;
}

.filtre{
    margin-right: 1em;
    margin-left: 1em;
    display:flex;
    border:#DEEBFF solid 0.2em;
    border-radius:10em;
    align-items: center;
    height: 2.7em;
    
    
}

.filtrePic{
    display: flex;    
    height: 3em;    
    width: 3em;
    border-radius: 10em;
    background-color:#DEEBFF;
    color:#0065FC;
    justify-content: center;
    align-items: center;        
}



.filtreTexte{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/* changer couleur menu au passage souris  */
.filtre:hover{
    background-color:#F2F2F2;
}

#infoBulle{
    display:flex;
    align-items: center;      
     
    
}

/* Section bulle INFO */
.infoPic{
    display:flex;
    justify-content: center;    
    align-items: center;
    color:#0065FC;
    border:#DEEBFF solid 0.2em;
    border-radius: 10em;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
}


/* section Hebergement */
/* section Hebergement */
.hebergements{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-block{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;    
    border-radius: 1em;
    padding: 1em 1em 1em 1em;   
    width: 100%;
}

#infosHebergements{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;       
    
}

.imgHebergements{    
    height: 8em;
    border-radius: 1em 1em 0em 0em;
    
}

.texteHebergements{    
   display:flex;
   flex-direction: column;   
    background-color: white;
    border-radius: 1em;
    border: white solid 0.3em;
    box-shadow:  0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin: 1em 1em 1em 1em;     
    
    
}

.infoTexteHebergements{
    display:flex;
    flex-direction: column;
    margin: 0.5em 0.5em 0.5em 0.5em;
    
}

.infoTexteHebergements span{
    padding: 0.4em 0em 0.4em 0Em;
}

.imgNote{
    display:flex;
    color:#0065FC;
 
}
.fa-star-empty{
    color:#F2F2F2;
}

.imgNote img{
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}

/* Aside */
/* Aside */
/* Aside */
.titrePop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergementPopulaire{
    display:flex;

}

.hebergementsPopulaire-block{
    background-color:#F2F2F2;    
    border-radius: 1em;
    padding: 1em 1em 1em 1em; 
    margin-left: 2em;       
}
aside .texteHebergements{
    display:flex;
    flex-direction: row;
    width: auto;
    
}

aside .texteHebergements img{
    border-radius: 1em 0em 0em 1em;
    height: 9em;
    width: 8.5em;
}

aside span {
    margin: 0em 1em 1.5em 0em;
}